:root {
  background-color: #f1f1f1;
  font-family: Helvetica;
  margin-
}

.grid-container {
  margin-left: 63px;
  margin-right: 63px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  background-color: #fff;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: left;
}


.entry-articlesection {
  background-color: white;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  text-indent: 1em;
  padding: 3px;
  margin-bottom: 35px;
  box-shadow: 5px 5px 20px 5px #555;
  height: auto;
  display: block;
}
  grid-template-columns: 100px calc(100% - 100px);
  grid-template-rows: auto;
  background-color: #fff;
}
.friends-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: left;
}
