:root {
  background-color: #f1f1f1;
  font-family: Helvetica;
  margin-
}

.grid-container {
  margin-left: 63px;
  margin-right: 63px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto;
  background-color: #fff;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: left;
}

.pageborder{
  background-color: #c1c1c1;
  border-style: solid;
  border-left-style: hidden;
  padding-top: 40px;
  width: 125px;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.searchbar {
  display: block;
  margin-left: 65px;
  margin-right: 65px;
}

.searchbar input {
    padding: 6px;
    overflow: hidden;
    font-size: 17px;
}

#Submit {
  width:50px;
  font-size:14px;
}


.entry-articlesection {
  background-color: white;
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  text-indent: 1em;
  padding-bottom: 3px;
  margin-bottom: 35px;
  box-shadow: 5px 5px 20px 5px #555;
  height: auto;
  display: block;
}

.friends-grid-container {
  margin-left: 63px;
  margin-right: 63px;
  display: grid;
  grid-template-columns: 130px calc(100% - 130px);
  grid-template-rows: 130px calc(100% - 130px);
  background-color: #fff;
}

.friends-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-align: left;
}

.friends-image {
  width: 100px;
  height: 100px;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.friends-button-grid-container {
  margin-left: 63px;
  margin-right: 63px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
}

.friends-button-grid-item {
  padding: 20px;
  font-size: 15px;
  text-align: center;
  background-color: #999;
  color: white;
  cursor: pointer;
  width: 100%;
  opacity: 0.5;
}

.add-friends-button {
  width:100%;
  margin-left:65px;
  margin-right:65px;
}
