:root {
  background-color: #aaa;
  font-family: Helvetica;
}

.grid-container {
  margin-left: 145px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  background-color: rgba(192,192,192,0.3);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.pageborder{
  background-color: #c1c1c1;
  border-style: solid;
  border-left-style: hidden;
  padding-top: 40px;
  width: 125px;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.pageborder a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #111111;
    display: block;
}
.pageborder a:hover {
    background-color: #10c1c1;
  color: white
}
