.navbar {
  font-family: helvetica;
  background-color: #444444;
  height: 80px;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  position: relative;
}

.navbar-logo {
  height: 100%;
  width: 150px;
  background-color: green;
  border-radius: 15px 0px 0px 15px;
  display: inline-block;
  float: left;
  
}

.navbar-logo h1{
  color: white;
  text-align: center;
}

.navbar-optionslist{
  disleay: flex;
  color: white; 
  text-align: center;
  list-style-type: none;
  width: calc(85% - 150px);
  margin-left: 0px;
  background-color: Transparent;
  white-space: nowrap;
  overflow: visible
}

.navbar-optionslist li{
  display: flex;
  margin-left: 10px;
}

.navbar-optionslist button{
  display:inline-block;
  font-size: 15pt;
  height: 50px;
  background-color: Transparent;
  border-style: none;
  color: white;
  border-style: none none none solid;
  border-color: grey;
}

.navbar-dropcontent {
  display: none;
  background-color: grey;
  min-width: 160px;
  z-index: 1;
  margin-top: 0px
}

.navbar-dropcontent a{
  display: block;
  position:static;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.navbar-dropdown:hover .navbar-dropcontent {
  display: block;
}
