:root {
  background-color: #f1f1f1;
  font-family: Helvetica;
}

img {
  max-width:100%;
  max-height:100%;
}

.UserBar {
  box-shadow: 3pt 3pt 5pt;
  float: right;
  background-color: #e3e3e3;
  margin: 2px;
  display: inline-block;
}

.UserBar a {
  padding: 6px;
    margin: 1px;
    text-decoration: none;
    font-size: 18px;
    color: #111111;
    display: block;
}
.Userbar a:hover{
    background-color: #10c1c1;
    color: white;
}

.newslist {
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  margin-right: 10px;
  
}

.newsitempara {
  width: 200px;
  height: 200px;
}

.newsitemtext {
  height: 70%;
}

.imageandlinkcontainer {
  height:100%;
  width: 150px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.imageandlinkcontainer div {
  overflow: auto;
  Height: 200px
}

.imageandlinkcontainer a {
  padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #111111;
    display: block;
  float:left;
  
}

.imageandlinkcontainer img {
  float:left;
}

.newsitem {
  box-shadow: 3pt 3pt 5pt;
  height: 250px;
  background-color: #ffffff;
  margin-right: 8px;
  position: relative;
  vertical-align: top;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 6px;
  padding: 16px
}


.newsitemheading {
  text-decoration: none;
  color: #000000;
}
.pageborder{
  background-color: #c1c1c1;
  border-style: solid;
  border-left-style: hidden;
  padding-top: 40px;
  width: 125px;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}
.pageborder a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #111111;
    display: block;
}
.pageborder a:hover {
    background-color: #10c1c1;
  color: white
}
.pageborder a.active {
    background-color: #10c1c1;
  color: white
}
.menubutton {
  border: none;
  outline: none;
  padding 10px 16px;
  cursor: pointer;
}

.TrendingAndNews {
  background-color: rgba 061,156,125,0.1;
  display: flex;
  flex-direction: row ltr;
  flex-wrap: nowrap;
  margin-left: auto;
  margin-right: auto;
}

.Trending {
  border-style: hidden solid hidden hidden;
  margin-right: 1px;
  width: 50%;
}


.News {
  border-style:hidden hidden hidden solid;
  margin-left: 1px;
  padding-right: 10px;
  width: 50%;

}

.News Div Article {
  margin: 10px;
  margin-top:0px;
}

.flexlist {
  display: flex;
  flex-flow: row wrap;
}

.searchbar {
  display: block
}

.searchbar input {
    padding: 6px;
    overflow: hidden;
    width: 70%;
    margin-bottom: 16px;
    font-size: 17px;
}

#Submit {
  width:50px;
  font-size:14px
}



