.navbar{
  background: linear-gradient(#222 0%,#383838 50%,#222 100%);
  font-size: 100%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  min-height: 60px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px #000;
  display: flex;
  margin-bottom: 20px;
  margin-top: 8px;
  color: white;
  font-family: helvetica;
    
  /* For Always On Top 
  position: fixed;
  z-index: 999; */
  
}
.navbar-optionslist{
  width: 100%;
  position: relative;
  list-style-type: none;
  list-style-width: 0px;
  display: flex;
  font-size: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px
}

.navbar-optionslist button{
  font-size: 15pt;
  height: 40px;
  color: white;
  background-color: Transparent;
  border-style: none;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0px;
  color: white
  
}

.navbar li a{
  color: white;
  text-decoration: none;
}
  
.navbar li a:visited{
    color: white;
    text-decoration: none;
}
.navbar-logo {
  height: auto;
  width: 160px;
  background: linear-gradient(#333 0%,#555 50%,#333 100%);
  border-radius: 10px 0px 0px 10px;
  display: flex;
  float: left;
}

.navbar-logo a{
  color: white;
  font-size: 200%;
  text-align: center;
  margin-right: 0px;
  margin-bottom: 20px;
  padding: 0px 10px 0px 10px;
  margin-top: auto;
  padding-top: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-dropcontent {
  display: none;
  background: linear-gradient(#585858,#999);
  min-width: 160px;
  z-index: 1;
  margin-top: 0px;
  position: absolute;
  box-shadow: 1pt 1pt 6pt #000;
  border-radius: 3px;
}

.navbar-dropcontent a{
  display: block;
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 13pt;
  color: white;
  text-decoration: none;
}

.navbar-dropdown:hover .navbar-dropcontent {
  display: block;
  z-index: 3;
}
