:root{
  font-family: helvetica;
  background-color: grey;
}
.newssection{
  background-color: white;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-indent: 0em;
  padding-bottom: 3px;
  margin-bottom: 35px;
  box-shadow: 5px 5px 20px 5px #555;
  height: auto;
  display: block;
  border-style: solid;
}
.newssection-title{
  text-align: center;
  float: left;
  width: 200px;
}
.newssection-blocks{
  overflow-x: scroll;
  display: flex;
  border-style: none none none solid;
}
.newsblock{
  font-family:helvetica ;
  min-width: 300px;
  height: auto;
  border-style: none none none solid;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.newsblock h1{
  position: relative;
  margin-top: -5px;
  margin-bottom: -5px;
  height: 40px
}
.newsblock-content{
  height: 130px;
  overflow-y: hidden;
}
.newsblock a{
  align-self: flex-end;
  background-color: white;
  margin-top: -35px;
  z-index: 2;
  margin-right: -5px;
  padding-right: 6px;
  padding-left: 6px;
  padding-bottom: 15px;
  margin-bottom: -17px;
  color: black;
  border-style: solid none none solid;
  border-width: 1px;
}
